---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Simplify your development process",
    description:
      "Build your dream compiler in a short amount of time with ygen",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Batteries included",
    description:
      "Adding a backend to ygen is as easy as watching a YouTube video",
    icon: "bx:bxs-car-battery",
  },
  {
    title: "On-Demand features",
    description:
      "Need some Optimizations which ygen don't support? Just open a github issue and they will be implemented",
    icon: "bx:bxs-data",
  },
  {
    title: "Backends",
    description:
      "Adding a backend to ygen is as easy as watching a YouTube video",
    icon: "bx:bxs-bot",
  },
  {
    title: "Learning",
    description:
      "Ygen has a very low learning curve! Just look at the examples",
    icon: "bx:bx-code-curly",
  },
  {
    title: "Community",
    description:
      "You can ask any question over on our discord server",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    About ygen
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Ygen comes batteries included. You can build your entire compiler
    stack with it. From argument parsing to error printing.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
